<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
  </head>
  <body style="margin:100px;">
    <header>
    </header>
    <main >
     <center> <p style = "font-size: 32px; margin: 50px;"> Lightning Out Demo</p2> </center>
<div class="container_ui_integration">
       
   <div class = "section_ui_integration" style="margin: 0 auto; width: 1000px;">     
        <div id="box1" style="margin: 50px;" ></div>
    </div>    
    <div class = "section_ui_integration">      
        <div id="box2" style="margin: 50px;"></div>
    </div>    
     <div class = "section_ui_integration">    
        <div id="box3" style="margin: 50px;"></div>
      </div>  
</div>
      </main>
        <footer>
        </footer>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "<%= oauthtoken %>";
          console.log(url);
            $Lightning.use("c:integration", function() {
                  $Lightning.createComponent("c:wireListView", {},
                     "box1",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
                      $Lightning.createComponent("c:miscRestApiCall", {},
                     "box2",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
                      $Lightning.createComponent("c:miscGetUserId", {},
                     "box3",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
            },url,token );
        </script>
  </body>
</html>
