<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
  </head>
  <body style="margin:100px;">
    <header>
    </header>
    <main >
      <div >
        <p style = " font-size: 32px;"> Lightning Out Demo</p2>
        <div id="box1" ></div>
        <div id="box2"></div>
        <div id="box3"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "<%= oauthtoken %>";
          console.log(url);
            $Lightning.use("c:integration", function() {
                  $Lightning.createComponent("c:wirelistview", {},
                     "box1",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
                      $Lightning.createComponent("c:miscrestapicall", {},
                     "box2",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
                      $Lightning.createComponent("c:libschartjs", {},
                     "box3",
                      function(cmp) {
                        console.log("LWC component was created");
                      });
            },url,token );
        </script>
  </body>
</html>
